{% extends 'note/main_local.html' %}
{% load bootstrap3 %}
{% load mptt_tags %}

{% block categories %}

    <form action="
        {% if cat_id %}
            {% url 'note:editCat' cat_id %}
        {% else %}
            {% url 'note:addCat' %}
        {% endif %}
    " method="POST" class="form login_form">
        {% csrf_token %}

        <h1>{{ name }}</h1>
        {% bootstrap_form form_category %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}

    </form>
    <hr>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Your Categories:</h3>
        </div>
        <form action="{% url 'note:delCat' 0 %}" method="POST">
            {% csrf_token %}
            {% buttons %}
                <button type="submit" class="btn btn-primary pull-right">
                    {% bootstrap_icon "remove" %} Delete
                </button>
            {% endbuttons %}
            <table class="table table-hover">
                <thead style="font-weight: bold;">
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Subcategories</td>
                    <td>Parent category</td>
                    <td>Notes</td>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td><input type="checkbox" name="remove_cat" value="{{ category.id }}"></td>
                        <td><a href="{% url 'note:editCat' category.id %}">{{ category }}</a></td>
                        <td>{{ category.get_descendant_count }}</td>
                        <td>{{ category.parent|default:"---" }}</td>
                        <td>{{ category.notes_set.all|length }}</td>
                        <td><a href="{% url 'note:delCat' category.id %}" onclick="return confirm('Do you want to delete?');"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>

    </div>

{% endblock %}